@model odetofood.ViewModel.HomePageViewModel

@{
    ViewBag.Title = "Home";

}
<h1> Welcome</h1>


<table>
    @foreach (var resturant in Model.Restaurants)
    {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@resturant.Id">Details</a>
            </td>

            <td>@resturant.Name</td>
        </tr>
    }

</table>
<br />
<a asp-controller="home" asp-action="create"> Create</a>


@section footer{
    <h3>@Model.CurrentMessage</h3>
}