@model odetofood.ViewModel.HomePageViewModel

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1> Welcome</h1>


<table>
    @foreach (var resturant in Model.Restaurants)
    {
        <tr>
            <td>
                <a href="/home/details/@resturant.Id">Details</a>
                @Html.ActionLink("View", "Details", new { id = resturant.Id })
            </td>

            <td>@resturant.Name</td>
        </tr>
    }

</table>
@section footer{
    <h3>@Model.CurrentMessage</h3>
}