@model odetofood.ViewModel.HomePageViewModel

@{
    ViewBag.Title = "Home";

}
<h1> Welcome</h1>
@foreach (var resturant in Model.Restaurants)
{
    @Html.Partial("_Summary", resturant)
}
<div>
    <a asp-action="Create"> Create</a>
</div>
<br />
<a asp-controller="home" asp-action="create"> Create</a>


@section footer{
    <h3>@Model.CurrentMessage</h3>
}